footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: justify;
    padding: 20px;
    gap: 20px; /* Espacio entre las columnas */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional para separar visualmente el footer */
    z-index: -10;
}


.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

